<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadatos-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titulo-->
    <title>Dark Side Wines</title>
    
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./images/943026.png">
   
    <!-- Estilos personalizados CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/normalize.css">
    
    
    

    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
 
    <!-- Fuente Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
    <header>
        
        <!-- Barra de navegacación-->
        <%- include ("./partials/header") %> 
         
    </header>

    <body>
        <section class="hero">
            <p>Todo lo mejor en vino, lo encontrás aca</p>
        </section>

        <main>
      
        
        <h2 class="h2-article">En oferta</h3>
            
            /*----- carrousel ------- */

           <section class="carrousel">
            <div class="carrousel-container">
                <button aria-label = "anterior" class="carrousel-anterior">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="carrousel-list">
                    <% for (let i = 0; i < products.length; i++) { %>
                    <article class="carrousel-item">
                        <a href="/products/<%= products[i].id%>">
                            <div class="img-container">
                                <img src="./images/<%= products[i].imagen %>">
                            </div>
                        </a>
                        <p class="desc-product"><%= products[i].nombre %></p>
                        <p class="price-product" id="price-product">$<%= products[i].precio %></p>
                        <div class="products-button">
                            <a  href="/products/<%=products[i].id %>">Detalle</a>
                        </div>

                    </article>
                    <% } %> 
                </div>

                <button aria-label = "siguiente" class="carrousel-siguiente">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        
            <div role="tablist" class="carrousel-indicadores">

            </div>
        
        </section>
            
            <a href="#" class="a-ofertas">Ver todas</a>
        
        
        
        
        </main>

        <%- include ("./partials/footer") %> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>

        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <script src="./js/index.js"></script>
        
</body>
</html>